@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(90, 90, 90);
}
.container{
    max-width: 800px;
    margin: auto;
}
.info{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info img{
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-right: 20px;
}
.card-social{
    border: 1px solid olivedrab;
    border-radius: 10px;
    background-color: bisque;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.card-hobbi{
    border: 1px solid rgb(117, 168, 15);
    border-radius: 10px;
    background-color: rgb(146, 96, 34);
    margin-bottom: 10px;
}
.card-work{
    border: 1px solid rgb(100, 141, 19);
    border-radius: 10px;
    background-color: rgb(102, 75, 41);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card-social a{
    text-decoration: none;
    color: rgb(66, 61, 61);
}
.card-social a:hover{
    color: rgb(110, 21, 21);
    text-decoration: underline;
}
.card-social a:active{
    text-decoration: none;
    color: rgb(255, 251, 251);
}
.btn input{
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(250, 169, 103);
    cursor: pointer;
    border: none;
}
.btn input:hover{
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(122, 57, 4);
    cursor: pointer;
    border: none;
}
li:nth-child(odd){
    color: #d3d0d0;
}
.card-social h2, a{
    margin-left: 10px;
}
.card-hobbi h2{
    margin-left: 10px;
}
.card-work h2, table{
    margin-left: 10px;
}
.card-form form{
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-group input,textarea{
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    padding: 8px 0px 10px ;
}
.form-group ::placeholder{
    color: #d3d0d0;
}
.form-block .form-group{
    display: inline-block;
    margin-right: 22px;
    width: 47%;
    margin-bottom: 20px;
}
.form-title{
    text-align: center;
}
td, th{
    border: 1px solid rgb(65, 61, 61);
}
table{
    margin: 0 auto;
}
@media(max-width: 806px) {
.info{
 display: block;
 text-align: center;
}
.form-block{
    display: block;
}
.form-block .form-group{
    width: 100%;
}
}

